{% extends 'block/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            <div class="form-outline mb-4">
                <label class="form-label" for="from-user">Username</label>
                <input type="text" id="from-user" name="username" placeholder="Username" class="form-control"/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="from-pass">Password</label>
                <input type="password" id="from-pass" name="password" placeholder="Password" class="form-control"/>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>

        </form>
    </div>

{% endblock %}
